<nav>
    <ul>
        <li>
            <a href="{{ path('blog_home') }}">Головна сторінка</a>
        </li>

        <li>
            <a href="{{ path('comment_last') }}">Останні коментарі</a>
        </li>

        <li>
            <a href="{{ path('tag_last_page') }}">Останні теги</a>
        </li>
    </ul>
</nav>