{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}

<ul>
    <li>
        <a href="{{ path('blog_home') }}">
            <div class="nav-link {% if currentPath == "/" %} active {% endif %}">
                Home Blog
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('comment_last') }}">
            <div class="nav-link {% if "/comment/last" in currentPath %} active {% endif %}">
                Останні комментарі
            </div>
        </a>
    </li>

    <li>
        <a href="{{ path('tag_last_page') }}">
            <div class="nav-link {% if "/tag/last" in currentPath %} active {% endif %}">
                Останні теги
            </div>
        </a>
    </li>
</ul>

<ul id="nav_create_list">
    <li>
        <a href="{{ path('post_add_get') }}">
            <div class="nav-link {% if "/post/add" in currentPath %} active {% endif %}">
                Створити статтю
            </div>
        </a>
    </li>
</ul>
