<!Doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | Home Blog</title>

        <link href="{{ asset('bundles/valiknetblogposts/style/common.css') }}" rel="stylesheet" />

        <script src="{{ asset('bundles/valiknetblogposts/js/jquery.js') }}" ></script>
        <script src="{{ asset('bundles/valiknetblogposts/js/common.js') }}" ></script>
    </head>

    <body>
        <div id="webber">
            <header>
                <div id="logo">
                    Home Blog
                </div>
                {% include "ValiknetBlogPostsBundle:Layouts:header.html.twig" %}
            </header>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>

            <footer>
                ©Valik Grinevich
            </footer>
        </div>
    </body>
</html>