{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block title %}
    Створення нової категорії
{% endblock %}

{% block content %}
    <div>
        <form role="form" method="POST">
            <fieldset>
                <div>
                    <label for="tag_name">Назва тегу</label>
                    <input type="text" id="tag_name" name="tag_name">
                </div>

                <div>
                    <input type="submit" value="Create">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}