{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block title %}
    Список останніх тегів
{% endblock %}

{% block styles %}
    <link href="{{ asset('bundles/valiknetblogposts/style/tag/last.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="last_tag">
        <ul>
            {% for tag in tags %}
                <li>
                    <a href='{{ path('tag_page', { "slug" : tag.hashSlug }) }}'>{{ tag.hashTag|hashTag }}</a>
                </li>
            {% else %}

            {% endfor %}
        </ul>
    </div>
{% endblock %}