<div id="title">
    <span>{{ "another.list_top_tags_on_main_page"|trans() }}</span>
</div>
<ul>
    {% for tag in tags %}
        <li>
            <a href="{{ path('tag_page', {'slug': tag.hashSlug}) }}">{{ tag.hashTag|hashTag }}</a>
        </li>
    {% endfor %}
</ul>
