{% extends 'ValiknetBlogPostsBundle:Layouts:main.html.twig' %}

{% block title %}
    Створення статі
{% endblock %}

{% block content %}
    <form role="form" method="POST">
        <fieldset>
            <legend>Створення статі</legend>
            <div>
                <label for="title">Назва статі:</label>
                <input type="text" name="title" id="title" required/>
            </div>

            <div>
                <label for="text">Стаття:</label>
                <textarea name="text" id="text" required />
                </textarea>
            </div>

            <div>
                <label for="author">Автор:</label>
                <input type="text" name="author" id="author" required/>
            </div>

            <div>
                <label for="tags">Теги:</label>
                <select name="tags[]" multiple required>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.hashTag }}</option>
                    {% endfor %}
                </select>
            </div>

            <div>
                <input type="submit" value="create">
            </div>
        </fieldset>
    </form>
{% endblock %}