#webber #webber_content #content .webber-article .control-block{
    margin-left: 76%;
}

#webber #webber_content .webber-article .control-block a{
    text-decoration: none;
    margin-left: 20px;
    color: #2288bb;
}

#webber #webber_content .webber-article .control-block a:hover{
    color: #000000;
    text-decoration: underline;
}

#webber #webber_content #content .comment-article{

}
#webber #webber_content #content .comment-article ul li{
    list-style: none;
    margin-left: 20px;
}

#webber #webber_content #content .comment-article ul li .comment{
    color: #258A2B;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    width: 75%;
    text-align: justify;
}

#webber #webber_content #content .comment-article ul li .comment .info-block{
    font-size: 13px;
}

#webber #webber_content #content .comment-article ul li .comment .text{
    font-size: 16px;

}

#webber #webber_content #content .comment-article div:last-child > h3{
    margin-bottom: 40px;
}

#webber #webber_content #content .comment-article #comment_add .text textarea{
    height: 120px;
}
